<h1>Administration of categories</h1>
<!-- button for adding a new category -->
<a href="#!/admin/newcategory" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New category
</a>

<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>category name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="category in categories track by $index">
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
    </tr>
    </tbody>
</table>
