<h1>Administration of products</h1>

<!-- button for adding a new product -->
<a href="#!/admin/newproduct" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New product
</a>

<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>added</th>
        <th>product name</th>
        <th>color</th>
        <th>price</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products track by $index">
            <td>{{product.id}}</td>
            <td>{{product.addedDate}}</td>
            <td>{{product.name}}</td>
            <td>{{product.color}}</td>
            <td>{{product.price}} {{product.currency}}</td>
            <td>
              <button ng-click="deleteProduct(product)" type="submit" class="btn btn-primary">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
