<div class="panel panel-default">
    <div class="panel-heading">In categories</div>
    <div class="panel-body">
      <a ng-repeat="category in product.categories" href="#!/category/{{category.id}}" class="btn btn-info" >{{category.name}}</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <h3>{{product.name}}</h3>
        <p>{{product.description}}</p>

        Current price: <span style="color: red; font-weight: bold;">{{product.price}}&nbsp;{{product.currency}}</span>
    </div>
    <div class="col-xs-6">
        <table class="table">
            <caption>Historic prices</caption>
            <thead>
            <tr>
                <th>Date</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="price in product.priceHistory">
                    <td>{{price.priceStart}}</td>
                    <td>{{price.value}}&nbsp;{{price.currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
            <img class="img-responsive img-rounded" ng-src="{{product._links.image.href}}" >
    </div>
</div>
