<div ng-repeat="category in categories">
    <h1>{{category.name}}</h1>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" ng-repeat="product in category.products">
            <a href="#!/product/{{product.id}}">
                <div class="thumbnail">
                    <img ng-src="{{product._links.image.href}}"><br>

                    <div class="caption">
                        <h3>{{product.name}}</h3>
                        <span style="color: red; font-weight: bold;">{{product.price}}&nbsp;{{product.currency}}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
