<!-- configuration for logback http://logback.qos.ch/ -->
<configuration>
    <!-- logs to console -->
    <appender name="APP" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--  log message format    http://logback.qos.ch/manual/layouts.html#conversionWord
             %date ... date and time of event
             %-5level ... level (debug/info/warn), left justified, minimum 5 characters
             %logger{36} ... logger name, shortened to at most 36 characters
             - ... literal dash
             %message ... the logged text
             %n - OS-dependent end of line, \n on Unix, \r\n on Windows
            -->
            <pattern>%date %-5level %logger - %message%n</pattern>
        </encoder>
    </appender>

    <!-- default logging level -->
    <root level="info">
        <!-- reference to the used appender -->
        <appender-ref ref="APP"/>
    </root>

    <!-- list of logger prefixes with non-default logging levels -->
    <logger name="org" level="info"/>
    <logger name="cz.muni.fi.pa165" level="warn"/>
    <logger name="cz.muni.fi.pa165.sampledata" level="info"/>
    <logger name="cz.muni.fi.pa165.mvc" level="debug"/>
    <logger name="org.hibernate.tool.hbm2ddl.SchemaExport" level="off"/>
    <logger name="org.hibernate.engine.jdbc.spi.SqlExceptionHelper" level="off" />
    <logger name="org.hibernate" level="error"/>
    <logger name="org.springframework.web" level="error"/>
    <logger name="org.springframework" level="error"/>
    <logger name="org.dozer" level="error"/>

</configuration>
