<configuration debug="false">
    <appender name="APP" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level %logger - %message%n</pattern>
        </encoder>
    </appender>
    <root level="off">
        <!-- reference to the used appender -->
        <appender-ref ref="APP"/>
    </root>

</configuration>