<form name="form"  novalidate class="form-horizontal">

    <div class="form-group" ng-class="{'has-error': !(form.name.$valid)}">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input placeholder="name" id="name" type="text" ng-minlength="3" name="name" class="form-control"
                   ng-model="category.name" required/>
            <p class="help-block" ng-show="form.name.$error.required">name is required</p>
            <p class="help-block" ng-show="form.name.$error.minlength">name must be at least 3 characters</p>
        </div>
    </div>

    <!-- show disabled button if form is not valid -->
    <button ng-disabled="!form.$valid" ng-click="create(category)" class="btn btn-primary" type="submit" >Create category</button>
</form>