<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Services -->
    <bean id="accountService" class="cz.muni.fi.pa165.currency.CurrencyConvertorImpl">
        <constructor-arg ref="exchangeRateTableService" />
    </bean>

    <bean id="exchangeRateTableService" class="cz.muni.fi.pa165.currency.ExchangeRateTableImpl">
    </bean>

</beans>